# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore AoC inputs
!input

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

.vscode/*
.DS_Store

dump.txt
*.o
!/icons/*.o
*.exe
*.so
*.dylib
*.zip
*.iss

mapping.txt
tags
install.sh
deinstall.sh

doc/*.html
doc/*.pdf
doc/*.idx
/web/upload
build/*
bin/*